:root {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0 auto;
}

#app {
  height: 100%;
  width: 100%;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  font-family: inherit;
  font-size: inherit;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}
